@import '../../../styles/variables';

.certificate-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Адаптивная сетка */
  gap: 1.5rem; /* Отступы между элементами */
  margin-top: 2rem;

  &__item {
    background-color: white;
    border-radius: $border-radius; /* Закругленные углы */
    overflow: hidden;
    box-shadow: $box-shadow; /* Тень */
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease; /* Плавные переходы */

    &:hover {
      transform: translateY(-5px); /* Эффект при наведении */
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); /* Увеличенная тень при наведении */
    }
  }

  &__image {
    width: 100%;
    height: auto; /* Автоматическая высота для сохранения пропорций */
    display: block;
  }

  &__title {
    padding: 1rem;
    text-align: center;
    font-size: 1rem;
    color: $text-primary;
  }
}
